@model Niculae_Ana_Maria_Proiect3.Models.Proiect

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proiect</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nume Proiect:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2">
            Descriere:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class="col-sm-2">
            Data inceperii:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataIncepere)
        </dd>
        <dt class="col-sm-2">
            Data finalizarii:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFinalizare)
        </dd>
        <dt class="col-sm-2">
            Status:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Manager:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManagerProiect.Nume)
        </dd>
    </dl>
    <div>
        <h4>Sarcini</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nume Sarcina</th>
                    <th>Data Incepere</th>
                    <th>Data Finalizare</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sarcina in Model.Sarcini)
                {
                    <tr>
                        <td>@sarcina.NumeSarcina</td>
                        <td>@sarcina.DataIncepere</td>
                        <td>@sarcina.DataFinalizare</td>
                        <td>@sarcina.Status</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Sarcini" asp-route-id="@sarcina.SarcinaId">Edit</a>
                            <a asp-action="Details" asp-controller="Sarcini" asp-route-id="@sarcina.SarcinaId">Details</a>
                            <a asp-action="Delete" asp-controller="Sarcini" asp-route-id="@sarcina.SarcinaId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ProiectId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
